@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Light-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-LightItalic-webfont.woff') format('woff');
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Bold-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

/* Very General*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #5D6063;
  background-color: white;
}

/* General */
section {
  padding: 1em;
}

h1 {
  font-size: 75px;
  color: aliceblue;
  text-shadow: 2px 2px 6px rgba(93,96,99,0.6), 0 -1px 0 rgba(255,255,255,0.15);
  line-height: 1.3em;
  margin-left: 10px;

  position: absolute;
  bottom: 0px;
}

h2, h3 {
  color: black;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 35px;
  font-weight: 300;
}

p:first-of-type {
  padding-bottom: 1em;
}

img {
  display: block;
  max-width: 100%;
}

a img {
  width: 50px;
}

/* Section About Me */
.about-me {
  overflow: hidden;
  background: linear-gradient(167deg, rgb(8, 145, 178) 60%, rgb(0 0 0 / 0.2) 60%, hsl(0, 100%, 100%) 61%);
}
.about-me .media-container {
  position: relative;
  float: left;
  margin-bottom: 1em;
}

.about-me .media-container img {
  box-shadow: 0.2em 0.2em .5em 0 rgb(0 0 0 / 0.2);;
}

.about-me .description {
  margin-top: 5em;
}

.about-me .description p {
  line-height: inherit;
}

.about-me .description h2 {
  text-align: center;
}

.socials {
  display: flex;
  justify-content: center;
  & a {
    margin: 0.6em;
    transition: transform 200ms ease-in-out;
    &:hover {
      transform: scale(1.2);
    }
  }
}

/* Section Projects*/
.projects ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(278px, 1fr));
  gap: 2em;
}

.projects h2 {
  text-align: center;
  margin-bottom: 0.8em;
}

.project {
  box-shadow: 0.2em 0.2em .5em 0 rgb(0 0 0 / 0.2);
}

.project .title {
  display: flex;
  justify-content: space-between;
}

.project .title h3 {
  margin-left: 1em;
  align-self: center;
}

.project .title .socials {
  & a img {
    width: 30px;
  }
}

p {
  margin: 1em;
}

/* Section Conatct Me */
footer {
  background-color: rgb(8, 145, 178);
  & * {
    color: #FFF;
  }
}
section.contact-me h2 {
  text-align: center;
  font-weight: 300;
  font-size: 65px;
}
.contact-detail {
  display: flex;
  align-items: center;
}

.contact-detail img {
  width: 35px;
  margin-right: 0.3em;
}
/*************************/

/* Mobile Styles */
@media only screen and (max-width: 642px) {
  footer picture img {
    width: 100%;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 643px) and (max-width: 960px) {
  h1 {
    font-size: 55px;
    top: 20px;
    right: -250px;
  }

  .about-me .description {
    background-color: white;
    margin-left: 5em;
    box-shadow: 0.2em 0.2em .5em 0 rgb(0 0 0 / 0.2);
    padding: 1em;
  }

  .about-me .media-container {
    margin: 1em;
  }


  .about-me .socials {
    display: none;
  }

  footer {
    display: flex;
    align-items: center;
  }

  footer picture img {
    width: 90%;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {

  .about-me .description {
    margin-top: 2em;
    background-color: white;
    margin-left: 5em;
    box-shadow: 0.2em 0.2em .5em 0 rgb(0 0 0 / 0.2);
    padding: 1em;
  }

  .about-me .media-container {
    margin: 1em;
  }

  footer {
    display: flex;
    align-items: center;
  }

  footer .photo {
    width: 550px;
    padding-right: 30px;
  }
}